*
{
    margin: 0;
    padding: 0;   
}

body{
    background-color: #454545;
    color: white;
    font-family: 'Black Ops One', cursive;
}

#container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}

#logo{
    text-align: center;
    margin: 2%;
    font-size: 60px;
    color: deeppink;
    transition-duration: 0.3s;
    -webkit-animation: colorchange 2s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
      color: deeppink;
    }
    100% {
      color: limegreen;
    }
    
}

.login-box label{
    display:block;
}

.login-box{
    text-align: center;
    padding: 20px;
    background-color: deeppink;
    margin-left: 35%;
    margin-right: 35%;
}

.login-box{
    padding: 20px;
    margin-top: 10%;
    border-radius: 25px;
    background-color: rgb(255, 20, 145);
}

.login-box .input-box{
    padding-bottom:15px;
    margin-bottom: 15px;
    
}