<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Store</title>
    <link rel="stylesheet" type="text/css" href="../static/css/storeStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5e394a33c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/cardHolo.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="../static/js/cardHolo.js"></script>
</head>
<body>
<div id="background">
    <img src="background-image.jpg" alt="Image couldn't load">
</div>
<div id = "menu">
    <ul class="nav">
        <li class="nav-left"><a href="store.twig">STORE</a></li>
        <li class="nav-left"><a href="#">INVENTORY</a></li>
        <li class="nav-left"><a href="coincubator.twig">COINcubator</a></li>
        <li class="nav-left"><a href="quests.twig">QUESTS</a></li>
        <li class="nav-left"><a href="#">TRANSACTIONS</a></li>
        <li class="nav-right"><i class="fas fa-user"></i></li>
    </ul>
</div>


<main class="main-area">
    <div class="centered">
        <section class="cards">
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Transform mentors </h2>
                        <p>All mentors in the room should dress up funny (or pirates) for the specified day (which is at least 2 days ahead)</p>
                        <button type="submit" name="donate" value="Donate">Donate</button>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Teleport</h2>
                        <p>The whole room goes to an off-school program instead for a specified day (which is at least 2 weeks ahead)</p>
                    </div>
                </a>
            </article>
            <style class="hover"></style>
        </section>
        </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
