<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Store Login</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:63342/QuestStore/static/css/mainStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5e394a33c.js" crossorigin="anonymous"></script>
</head>


<!--MENU BAR-->
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="../student/store">STORE <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">INVENTORY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../student/coincubator">COINcubator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=../student/quests">QUEST</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TRANSACTIONS</a>
            </li>
        </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Example</a>
                        <a class="dropdown-item" href="#">Inventory</a>
                    </div>
                </li>
            </ul>
    </div>
</nav>


<div id="front">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis volutpat nibh. Nulla sit amet lorem non ex tempus mollis. </br> Suspendisse rhoncus fermentum metus vitae convallis. Donec faucibus massa in ullamcorper convallis. </br>Aliquam venenatis elementum nibh, quis finibus nisi consequat a. Curabitur accumsan est ac ultricies aliquam. Duis laoreet blandit mi, at vulputate libero pulvinar vitae. Donec varius vestibulum velit, at lacinia massa imperdiet in. Proin orci nisl, ultricies a erat bibendum, imperdiet mollis massa. Donec nec tristique diam, vel vestibulum tellus. Praesent malesuada accumsan ligula, vel sollicitudin velit vehicula laoreet. Etiam dignissim erat risus. Cras lobortis, neque in hendrerit imperdiet, diam dolor suscipit sapien, et viverra sapien neque sed magna. Curabitur est massa, mollis et blandit sed, eleifend id quam.

    Sed efficitur nulla ac turpis imperdiet pulvinar. Nullam pellentesque, ipsum ut posuere finibus, elit mi rutrum nulla, at commodo purus quam nec arcu. Donec malesuada velit quis sapien varius maximus. Maecenas ut mi neque. Vestibulum sed metus leo. Praesent libero velit, aliquam et tortor vel, rhoncus sodales arcu. Donec porta nisl sed ipsum accumsan blandit. Morbi leo enim, cursus ac velit et, auctor consectetur mi. Proin efficitur porta metus, ac condimentum risus ultrices mattis. Aenean vulputate ipsum odio. Suspendisse lacinia molestie magna, sit amet congue tortor suscipit quis. Integer pellentesque turpis sit amet lacus venenatis laoreet at in nulla.

    Vestibulum tellus lacus, tincidunt ac lacus at, dapibus gravida quam. Mauris dictum quam quis libero suscipit imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ac nisl augue. </br> Nam lobortis vitae justo ac varius. Maecenas ex felis, vehicula non ex id, luctus suscipit dui. Phasellus bibendum aliquet sapien, vel consequat neque maximus eget. Suspendisse potenti. Proin aliquam blandit magna, non malesuada arcu egestas id. Donec a euismod magna, at suscipit ipsum. Quisque cursus massa vel tincidunt malesuada. Nam pretium laoreet faucibus. Aenean eget finibus enim. Donec neque dolor, porttitor vel urna vitae, sodales sollicitudin augue.


</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
<footer>

</footer>
