@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One);

@media only screen and (max-device-width: 480px){
    body{
        font-size: 24px;
    }
}
*
{
    margin: 0;
    padding: 0;   
}

body{
    color: white;
    font-family: 'Black Ops One', cursive;
}

#container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}

#logo{
    text-align: center;
    margin-top: 1%;
    font-size: 60px;
    color: deeppink;
}

input{
    margin: 1em 0;
    padding: 0.5em;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 2em;
}



.login-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3em;
    padding: 2em;
    text-align: center;
    z-index: 99;
}

.login-box label{
    display:block;
}

.chrome {
    position: relative;
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
    font-size: 250px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin-top: 1%;
    text-align: center;
    /*margin-left: 28%;*/
    line-height: 1;
}

.chrome:before {

    content: 'CYBER';
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    z-index: 10;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    background-position:-680px 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    padding-right: 300px;
    -webkit-animation-name: chrome_effect;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    text-align: center;
    margin: 0;
}

.dreams {
    position: relative;
    font-family: 'Mr Dafoe', cursive;
    font-size: 200px;
    color: #F975F7 ;
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg); /* IE 9 */
    -webkit-transform:rotate(-15deg); /* Safari and Chrome */
    text-align: center;
    margin-left: 20%;
    margin-top: -130px;
    -webkit-text-stroke: 1px #f008b7;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    z-index: 20;
}

.windows .dreams {
    -webkit-text-stroke: 4px #f008b7;
}

@-webkit-keyframes chrome_effect {
    0% {background-position:-680px 0;}
    10% {background-position:420px 0;}
    100% {background-position:420px 0;}
}

body {
    background-color:#181818;
}

#grid {
    width: 200%;
    overflow:hidden;
    border: 1px solid rgba(255,255,255,1);
    height: 300px;
    position: fixed;
    box-sizing: border-box;
    -webkit-transform: perspective(100) rotate3d(1, 0, 0, 40deg);
    -webkit-transform-style: preserve-3d;
    left: -49%;
    top: 40%;
    z-index: 0;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(54,31,145,0) 0%, rgba(54,31,145,0.68) 45%, rgba(79,82,177,1) 66%, rgba(102,128,205,0.44) 85%, rgba(102,128,205,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(54,31,145,0) 0%,rgba(54,31,145,0.68) 45%,rgba(79,82,177,1) 66%,rgba(102,128,205,0.44) 85%,rgba(102,128,205,0) 100%);
    background: radial-gradient(ellipse at center,  rgba(54,31,145,0) 0%,rgba(54,31,145,0.68) 45%,rgba(79,82,177,1) 66%,rgba(102,128,205,0.44) 85%,rgba(102,128,205,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00361f91', endColorstr='#006680cd',GradientType=1 );
}
#grid:after {
    content: "";
    display: table;
    clear: both;
}
#grid > div {
    float: left;
    width: 2.22%;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    left: 0;
    animation: paralax 1s infinite;
    animation-timing-function: linear;
}
#grid > div > div {
    width: 100%;
    border: 1px solid rgba(255,255,255,1);
    height: 22px;
    position: relative;
    box-sizing: border-box;
}
#grid > div > div:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
}
#grid > div > div:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 3px 0 rgba(255,255,255,0.3);
}

#glow1 {
    position: fixed;
    z-index: 1;
    height: 2px;
    width: 100%;
    top: calc(40% + 90px);
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 200px 100px rgba(217, 42, 147, 0.8);
}
#glow1:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    box-shadow: 0 0 100px 20px rgba(255,255,255, 0.8);
}
#glow1:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    box-shadow: 0 0 15px 5px rgba(255,255,255, 0.3);
}
#text, #text:active {
    position: fixed;
    z-index: 999;
    color: #FFF;
    top: calc(50% - 100px);
    width: 100%;
    outline: none;
    text-align: center;
    font-size: 200px;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 800;
    line-height: 200px;
    letter-spacing: -10px;

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7e2ce 5%, #adbbbe 53%, #38293e 54%, #38293e 54%, #e0dee1 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e2ce 5%,#adbbbe 53%,#38293e 54%,#38293e 54%,#e0dee1 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e7e2ce 5%,#adbbbe 53%,#38293e 54%,#38293e 54%,#e0dee1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0dee1',GradientType=0 );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px rgba(0,0,0,0.3);
}
#text-shadow1 {
    position: fixed;
    z-index: 998;
    color: transparent;
    top: calc(50% - 100px);
    width: 100%;
    text-align: center;
    font-size: 200px;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 800;
    line-height: 200px;
    letter-spacing: -10px;
    text-shadow: 0 0 20px rgba(0,0,0,0.8);
    -webkit-text-stroke: 10px #fff;
}
#text-shadow2 {
    position: fixed;
    z-index: 997;
    color: rgba(0,0,0,0);
    top: calc(50% - 20px);
    width: 100%;
    text-align: center;
    font-size: 200px;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 800;
    line-height: 200px;
    text-shadow: 0 10px 20px rgba(0,0,0,0.4);
    -webkit-transform: perspective(100) rotate3d(1, 0, 0, 75deg) scaleY(0.2) scaleX(0.9);
    -webkit-transform-style: preserve-3d;
    letter-spacing: -10px;
}

@keyframes paralax {
    0%   { top: 0; }
    100% { top: -22px; }
}