<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Store</title>
    <link rel="stylesheet" type="text/css" href="../static/css/storeStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5e394a33c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/cardHolo.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="../static/js/cardHolo.js"></script>
</head>
<body>
<div id="background">
    <img src="background-image.jpg" alt="Image couldn't load">
</div>
<div id = "menu">
    <ul class="nav">
        <li class="nav-left"><a href="store.html">STORE</a></li>
        <li class="nav-left"><a href="#">INVENTORY</a></li>
        <li class="nav-left"><a href="coincubator.html">COINcubator</a></li>
        <li class="nav-left"><a href="quests.html">QUESTS</a></li>
        <li class="nav-left"><a href="#">TRANSACTIONS</a></li>
        <li class="nav-right"><i class="fas fa-user"></i></li>
    </ul>
</div>


<main class="main-area">
    <div class="centered">
        <section class="cards">
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Transform mentors </h2>
                        <p>All mentors in the room should dress up funny (or pirates) for the specified day (which is at least 2 days ahead)</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Teleport</h2>
                        <p>The whole room goes to an off-school program instead for a specified day (which is at least 2 weeks ahead)</p>
                    </div>
                </a>
            </article>
            <style class="hover"></style>
        </section>
        </div>
</main>
</body>
</html>
