<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Store</title>
    <link rel="stylesheet" type="text/css" href="../css/storeStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/cardHolo.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="../js/cardHolo.js"></script>
    <script src="https://kit.fontawesome.com/c5e394a33c.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="background">
    <img src="background-image.jpg" alt="Image couldn't load">
</div>
<div id = "menu">
    <ul class="nav">
        <li class="nav-left"><a href="store.html">STORE</a></li>
        <li class="nav-left"><a href="#">INVENTORY</a></li>
        <li class="nav-left"><a href="coincubator.html">COINcubator</a></li>
        <li class="nav-left"><a href="quests.html">QUESTS</a></li>
        <li class="nav-left"><a href="#">TRANSACTIONS</a></li>
        <li class="nav-right"><i class="fas fa-user"></i></li>
    </ul>
</div>


<main class="main-area">
    <div class="centered">
        <section class="cards">
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Creating an enchanted scroll</h2>
                        <p>Creating extra material for the current TW/SI topic (should be revised by mentors)</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Entering the arena</h2>
                        <p>Do a presentation on a meet-up</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Exploring a dungeon</h2>
                        <p>Finishing a Teamwork week</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Forging weapons</h2>
                        <p>Finishing a Teamwork week</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Forging weapons</h2>
                        <p>Organizing a workshop for fellow students</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Fruitful opportunism</h2>
                        <p>Helping to facilitate a mentor organized workshop</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Helping the city guard</h2>
                        <p>Helping in presenting the house rules on Orientation Week</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Magic the gathering</h2>
                        <p>Organize a spare time event for the room (for at least 20 people) recorded by a selfie</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Making arrowheads</h2>
                        <p>Create a Kahoot question list with at least 10 questions in a Codecool related topic</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Mastering the mornings</h2>
                        <p>Attend 20 consecutive TW days without being late or absent</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Recruiting novices</h2>
                        <p>Taking part in the student screening</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Showing off</h2>
                        <p>Participate in a presentation/Q&A on intro da</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Slaying a dragon</h2>
                        <p>Doing the first Personal Assessment attempt in a module (regardless of the result</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Solving the magic puzzle</h2>
                        <p>Finishing an SI week's assignments before the TW week</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Spotting a trap</h2>
                        <p>Spot a major mistake in the material which blocks understanding (first students who discovers</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Starter pack</h2>
                        <p>Finishing the orientation week</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Stuffing the rooster</h2>
                        <p>Come up with 7 good attendance questions (room decides whether they're acceptable)</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Taming a pet</h2>
                        <p>Doing a 10 minutes long demo about an IT pet project for his/her room</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Treasure hunt!</h2>
                        <p>Solving the riddle announced random times in the given time frame</p>
                    </div>
                </a>
            </article>
            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample3.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Visiting the wiseman</h2>
                        <p>Going to a company interview</p>
                    </div>
                </a>
            </article>
            <style class="hover"></style>
        </section>

    </div>
</main>
</body>
</html>
