<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Store</title>
    <link rel="stylesheet" type="text/css" href="../css/storeStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5e394a33c.js" crossorigin="anonymous"></script>
</head>

<body>


<div id="background">
</div>
<div id = "menu">
    <ul class="nav">
        <li class="nav-left"><a href="store.html">STORE</a></li>
        <li class="nav-left"><a href="#">INVENTORY</a></li>
        <li class="nav-left"><a href="coincubator.html">COINcubator</a></li>
        <li class="nav-left"><a href="quests.html">QUESTS</a></li>
        <li class="nav-left"><a href="#">TRANSACTIONS</a></li>
        <li class="nav-right"><i class="fas fa-user"></i></li>
    </ul>
</div>


<main class="main-area">
    <div class="centered">
        <section class="cards">

            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample.jpg" alt="cardexample">
                    </figure>
                    <div class="card-content">
                        <h2>Card Example</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam.</p>
                    </div>
                </a>
            </article>

            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Third card</h2>
                        <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati recusandae expedita doloribus dicta cumque nostrum, autem eaque soluta atque voluptatem est et, laborum dignissimos error sequi non? Recusandae, aut alias.</p>
                    </div>
                </a>
            </article>

            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Another card</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo consequatur consectetur fugit molestias perferendis, sint error iste ut, facilis sunt natus optio dolor nesciunt laboriosam obcaecati corporis numquam?</p>
                    </div>
                </a>
            </article>

            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>Next Card</h2>
                        <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati recusandae expedita doloribus dicta cumque nostrum, autem eaque soluta atque voluptatem est et, laborum dignissimos error sequi non? Recusandae, aut alias.</p>
                    </div>
                </a>
            </article>

            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>This card 2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati recusandae expedita doloribus dicta cumque nostrum, autem eaque soluta atque voluptatem est et, laborum dignissimos error sequi non? Recusandae, aut alias.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati recusandae expedita doloribus dicta cumque nostrum, autem eaque soluta atque voluptatem est et, laborum dignissimos error sequi non? Recusandae, aut alias.</p>
                    </div>
                </a>
            </article>

            <article class="card">
                <a href="#">
                    <figure class="thumbnail">
                        <img src="cardexample.jpg" alt="meow">
                    </figure>
                    <div class="card-content">
                        <h2>The last one</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati recusandae expedita doloribus dicta cumque nostrum, autem eaque soluta atque voluptatem est et, laborum dignissimos error sequi non? Recusandae, aut alias.</p>
                    </div>
                </a>
            </article>
        </section>

    </div>
</main>
</body>
</html>
