<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Store</title>
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5e394a33c.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="container">
        <div id = "menu">
            <ul class="nav">
                <li class="nav-left"><a href="store.html">STORE</a></li>
                <li class="nav-left"><a href="#">INVENTORY</a></li>
                <li class="nav-left"><a href="#">COINcubator</a></li>
                <li class="nav-left"><a href="#">QUESTS</a></li>
                <li class="nav-left"><a href="#">TRANSACTIONS</a></li>
                <li class="nav-right"><i class="fas fa-user"></i></li>
            </ul>
        </div>
    <div id="front">
        <div class="card-deck">
            <div class="card">
                <img src="cardexample.jpg" class="card-img-top" alt="" height="200" width="300">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img src="cardexample2.jpg" class="card-img-top" alt="..." height="200" width="300">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
