<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Store Login</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:63342/QuestStore/static/css/mainStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5e394a33c.js" crossorigin="anonymous"></script>
</head>


<!--MENU BAR-->
<body style="background-image: url('https://drive.google.com/uc?export=view&id=19l6DneiVPd1cpM4DvgA1R_XtybUtQzh-')">

<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="../mentor/store-menu" >STORE <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../mentor/coincubators" >COINCUBATORS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../mentor/students-menu" >STUDENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../mentor/quest-menu" >QUEST</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../mentor/editProfile">Edit Profile</a>
                    <a class="dropdown-item" href="../logout">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div id="mentor-menu">
    <table style="width: 100%">
        <tr class="mentor-table">
            <td class="mentor-thread">
                <a href="../mentor/add-quest">ADD QUEST</a>
            </td>
            <td class="mentor-thread"><a href="/mentor/edit-quest">EDIT QUEST</a></td>
        </tr>
        <tr class="mentor-table">
            <td class="mentor-thread">
                <a href="../mentor/remove-quest">DELETE QUEST</a>
            </td>
            <td class="mentor-thread">
                <a href="../mentor/quest-list">GET ALL QUESTS</a>
            </td>
        </tr>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
<footer>

</footer>
