<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    %% for list in listOfLists %}
    <ol>
        <li>First Name: {{ fName }}</li>
        <li>Last Name: {{ lName }}</li>
        <li>Country: {{ country }}</li>
        <li>Message: {{ message }}</li>
    </ol>
    {% endfor %}
</body>
</html>