*
{
    margin:0;
    padding: 0;
}
body
{
    background-image: url("../../templates/background-image.jpg");
    font-family: 'Quantico', sans-serif;
}

#menu
{
    font-weight: 700;
    font-size: 12px;
    display: inline;
}

/*navbar settings*/
.navbar.navbar-expand-sm.navbar-light.bg-dark{
    background: rgba(12, 12, 13, 0.8) !important;
}

.navbar.navbar-expand-sm.navbar-light.bg-dark a{
    color: deeppink;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
}

.navbar.navbar-expand-sm.navbar-light.bg-dark li{
    padding-right: 10px;
}

.navbar.navbar-expand-sm.navbar-light.bg-dark li:hover {
    transition-duration: 300ms;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}

.navbar.navbar-expand-sm.navbar-light.bg-dark a:hover {
    color: #e64fb3;

}

/*dropdown menu bar*/
.dropdown-menu{

}

.dropdown-menu.show{
    color: rgba(245, 245, 245, 0.29);
}

.navbarDropdownMenuLink {
}
.navbarDropdownMenuLink{
    
}
#container
{
    list-style-type: none;
    overflow: hidden;
}

.nav-link.dropdown-toggle {
@include float-right;
}

#front
{
    color: #d0d0d0;
    padding: 20% 250px 250px 300px;
    background-color: rgba(16, 16, 33, 0.5);

}




