*
{
    margin:0;
    padding: 0;
}
body
{
    background-image: url("../../templates/background-image.jpg");
    font-family: 'Quantico', sans-serif;
}

#menu
{
    font-weight: 700;
    font-size: 12px;
    display: inline;
}

/*navbar settings*/
.navbar.navbar-expand-sm.navbar-light.bg-dark{
    background: rgba(12, 12, 13, 0.8) !important;
}

.navbar.navbar-expand-sm.navbar-light.bg-dark a{
    color: deeppink;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
}

.navbar.navbar-expand-sm.navbar-light.bg-dark li{
    padding-right: 10px;
}

.navbar.navbar-expand-sm.navbar-light.bg-dark li:hover {
    transition-duration: 300ms;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}

.navbar.navbar-expand-sm.navbar-light.bg-dark a:hover {
    color: #e64fb3;

}

/*dropdown menu bar*/
.dropdown-menu{

}

.dropdown-menu.show{
    color: rgba(245, 245, 245, 0.29);
}

.navbarDropdownMenuLink {
}
.navbarDropdownMenuLink{

}
#container
{
    list-style-type: none;
    overflow: hidden;
}

.nav-link.dropdown-toggle {
@include float-right;
}

#front
{
    color: #d0d0d0;
    padding: 20% 250px 250px 300px;
    background-color: rgba(16, 16, 33, 0.5);

}

th, td {
    padding: 15px;

}

th, td{
    text-align: center;
}

th{
    color: deeppink;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.26);
    text-align: center;
}

td{
    color: whitesmoke;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.14);
    text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgba(255, 20, 147, 0.66) !important;
    border: none;
    text-align: center;
}

.form-control{
    background-color: rgba(24, 24, 24, 0.6) !important;
    color: #c0c0c0 !important;
    border: 1px solid #f910a7 !important;
}

.form-action{
    text-align: center;
}

#front{
    text-align: center;
    padding: 10% 250px 250px 300px;
}

button, input {
    overflow: visible;
    text-align: center !important;
}

label{
    color: whitesmoke;
    font-size: 19px;
    font-weight: 700;
}
#mentor-menu{
    color: #d0d0d0;
    background-color: rgba(16, 16, 33, 0.5);
    text-align: center;
    padding: 10% 250px 250px 300px;

}
.mentor-table{
    background-color: rgba(16, 16, 33, 0.5);
    margin: 1%;

}
.mentor-thread{
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    border: deeppink solid;
    -webkit-text-stroke: 1px #f008b7;

}
.mentor-thread:hover{
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    z-index: 20;
}